In [1]:
import pandas as pd
import src.utils as utils

## Read config

## Load the data

In [2]:

data = utils.load_data('data/training.csv')
#data = data.drop(['patient_id'],axis=1)

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Preprocessing

In [4]:
import src.data_preprocessing as prep
    
X_train, X_test, y_train, y_test = prep.split_data(data)

df_nulls=pd.DataFrame()

df_nulls['num_nulls'] = X_train.isnull().sum() 
df_nulls['total'] = len(X_train)
df_nulls['null_percentage'] = df_nulls['num_nulls'] / df_nulls['total']

df_nulls

                                       num_nulls  total  null_percentage
patient_id                                     0  10324         0.000000
patient_race                                5104  10324         0.494382
payer_type                                  1434  10324         0.138900
patient_state                                 42  10324         0.004068
patient_zip3                                   0  10324         0.000000
patient_age                                    0  10324         0.000000
patient_gender                                 0  10324         0.000000
bmi                                         7144  10324         0.691980
breast_cancer_diagnosis_code                   0  10324         0.000000
breast_cancer_diagnosis_desc                   0  10324         0.000000
metastatic_cancer_diagnosis_code               0  10324         0.000000
metastatic_first_novel_treatment           10306  10324         0.998256
metastatic_first_novel_treatment_type      10306  10324         0.998256
Region                                        43  10324         0.004165
Division                                      43  10324         0.004165
population                                     1  10324         0.000097
density                                        1  10324         0.000097
age_median                                     1  10324         0.000097
age_under_10                                   1  10324         0.000097
age_10_to_19                                   1  10324         0.000097
age_20s                                        1  10324         0.000097
age_30s                                        1  10324         0.000097
age_40s                                        1  10324         0.000097
age_50s                                        1  10324         0.000097
age_60s                                        1  10324         0.000097
age_70s                                        1  10324         0.000097
age_over_80                                    1  10324         0.000097
male                                           1  10324         0.000097
female                                         1  10324         0.000097
married                                        1  10324         0.000097
divorced                                       1  10324         0.000097
never_married                                  1  10324         0.000097
widowed                                        1  10324         0.000097
family_size                                    2  10324         0.000194
family_dual_income                             2  10324         0.000194
income_household_median                        2  10324         0.000194
income_household_under_5                       2  10324         0.000194
income_household_5_to_10                       2  10324         0.000194
income_household_10_to_15                      2  10324         0.000194
income_household_15_to_20                      2  10324         0.000194
income_household_20_to_25                      2  10324         0.000194
income_household_25_to_35                      2  10324         0.000194
income_household_35_to_50                      2  10324         0.000194
income_household_50_to_75                      2  10324         0.000194
income_household_75_to_100                     2  10324         0.000194
income_household_100_to_150                    2  10324         0.000194
income_household_150_over                      2  10324         0.000194
income_household_six_figure                    2  10324         0.000194
income_individual_median                       1  10324         0.000097
home_ownership                                 2  10324         0.000194
housing_units                                  1  10324         0.000097
home_value                                     2  10324         0.000194
rent_median                                    2  10324         0.000194
rent_burden                                    2  10324         0.000194
education_less_highschool                      1  10324         0.000097
education_highschool                           1  10324         0.000097
education_some_college                         1  10324         0.000097
education_bachelors                            1  10324         0.000097
education_graduate                             1  10324         0.000097
education_college_or_above                     1  10324         0.000097
education_stem_degree                          1  10324         0.000097
labor_force_participation                      1  10324         0.000097
unemployment_rate                              1  10324         0.000097
self_employed                                  2  10324         0.000194
farmer                                         2  10324         0.000194
race_white                                     1  10324         0.000097
race_black                                     1  10324         0.000097
race_asian                                     1  10324         0.000097
race_native                                    1  10324         0.000097
race_pacific                                   1  10324         0.000097
race_other                                     1  10324         0.000097
race_multiple                                  1  10324         0.000097
hispanic                                       1  10324         0.000097
disabled                                       1  10324         0.000097
poverty                                        2  10324         0.000194
limited_english                                2  10324         0.000194
commute_time                                   1  10324         0.000097
health_uninsured                               1  10324         0.000097
veteran                                        1  10324         0.000097
Ozone                                         21  10324         0.002034
PM25                                          21  10324         0.002034
N02                                           21  10324         0.002034

In [5]:
region_features = [
       'population', 'density', 'age_median', 'age_under_10', 'age_10_to_19',
       'age_20s', 'age_30s', 'age_40s', 'age_50s', 'age_60s', 'age_70s',
       'age_over_80', 'male', 'female', 'married', 'divorced', 'never_married',
       'widowed', 'family_size', 'family_dual_income',
       'income_household_median', 'income_household_under_5',
       'income_household_5_to_10', 'income_household_10_to_15',
       'income_household_15_to_20', 'income_household_20_to_25',
       'income_household_25_to_35', 'income_household_35_to_50',
       'income_household_50_to_75', 'income_household_75_to_100',
       'income_household_100_to_150', 'income_household_150_over',
       'income_household_six_figure', 'income_individual_median',
       'home_ownership', 'housing_units', 'home_value', 'rent_median',
       'rent_burden', 'education_less_highschool', 'education_highschool',
       'education_some_college', 'education_bachelors', 'education_graduate',
       'education_college_or_above', 'education_stem_degree',
       'labor_force_participation', 'unemployment_rate', 'self_employed',
       'farmer', 'race_white', 'race_black', 'race_asian', 'race_native',
       'race_pacific', 'race_other', 'race_multiple', 'hispanic', 'disabled',
       'poverty', 'limited_english', 'commute_time', 'health_uninsured',
       'veteran', 'Ozone', 'PM25', 'N02']
X_train_filled = prep.fill_null_for_other_regional_information(X_train, ['patient_state'], region_features, fill_strategy='mean', is_traing=True)
X_train_filled = prep.fill_null_for_division_and_region(X_train_filled, is_traing=True)
X_train_filled = prep.fill_gender(X_train_filled)
X_train_filled = prep.fill_null_for_environmental(X_train_filled, ['Division'], ['Ozone', 'PM25', 'N02'], fill_strategy='mean', is_traing=True)
X_train_filled = prep.fill_null_for_payer_type(X_train_filled, col='payer_type', is_traing=True)
X_train_filled = prep.fill_null_for_bmi(X_train_filled, col='bmi', fill_strategy='mean', is_traing=True)
X_train_filled = prep.fill_null_with_seperate_category(X_train_filled, columns = ['patient_race', 'metastatic_first_novel_treatment', 'metastatic_first_novel_treatment_type'])


df_nulls=pd.DataFrame()

df_nulls['num_nulls'] = X_train_filled.isnull().sum() 
df_nulls['total'] = len(X_train_filled)
df_nulls['null_percentage'] = df_nulls['num_nulls'] / df_nulls['total']

df_nulls

                                       num_nulls  total  null_percentage
patient_id                                     0  10324              0.0
patient_race                                   0  10324              0.0
payer_type                                     0  10324              0.0
patient_state                                  0  10324              0.0
patient_zip3                                   0  10324              0.0
patient_age                                    0  10324              0.0
patient_gender                                 0  10324              0.0
bmi                                            0  10324              0.0
breast_cancer_diagnosis_code                   0  10324              0.0
breast_cancer_diagnosis_desc                   0  10324              0.0
metastatic_cancer_diagnosis_code               0  10324              0.0
metastatic_first_novel_treatment               0  10324              0.0
metastatic_first_novel_treatment_type          0  10324              0.0
Region                                         0  10324              0.0
Division                                       0  10324              0.0
population                                     0  10324              0.0
density                                        0  10324              0.0
age_median                                     0  10324              0.0
age_under_10                                   0  10324              0.0
age_10_to_19                                   0  10324              0.0
age_20s                                        0  10324              0.0
age_30s                                        0  10324              0.0
age_40s                                        0  10324              0.0
age_50s                                        0  10324              0.0
age_60s                                        0  10324              0.0
age_70s                                        0  10324              0.0
age_over_80                                    0  10324              0.0
male                                           0  10324              0.0
female                                         0  10324              0.0
married                                        0  10324              0.0
divorced                                       0  10324              0.0
never_married                                  0  10324              0.0
widowed                                        0  10324              0.0
family_size                                    0  10324              0.0
family_dual_income                             0  10324              0.0
income_household_median                        0  10324              0.0
income_household_under_5                       0  10324              0.0
income_household_5_to_10                       0  10324              0.0
income_household_10_to_15                      0  10324              0.0
income_household_15_to_20                      0  10324              0.0
income_household_20_to_25                      0  10324              0.0
income_household_25_to_35                      0  10324              0.0
income_household_35_to_50                      0  10324              0.0
income_household_50_to_75                      0  10324              0.0
income_household_75_to_100                     0  10324              0.0
income_household_100_to_150                    0  10324              0.0
income_household_150_over                      0  10324              0.0
income_household_six_figure                    0  10324              0.0
income_individual_median                       0  10324              0.0
home_ownership                                 0  10324              0.0
housing_units                                  0  10324              0.0
home_value                                     0  10324              0.0
rent_median                                    0  10324              0.0
rent_burden                                    0  10324              0.0
education_less_highschool                      0  10324              0.0
education_highschool                           0  10324              0.0
education_some_college                         0  10324              0.0
education_bachelors                            0  10324              0.0
education_graduate                             0  10324              0.0
education_college_or_above                     0  10324              0.0
education_stem_degree                          0  10324              0.0
labor_force_participation                      0  10324              0.0
unemployment_rate                              0  10324              0.0
self_employed                                  0  10324              0.0
farmer                                         0  10324              0.0
race_white                                     0  10324              0.0
race_black                                     0  10324              0.0
race_asian                                     0  10324              0.0
race_native                                    0  10324              0.0
race_pacific                                   0  10324              0.0
race_other                                     0  10324              0.0
race_multiple                                  0  10324              0.0
hispanic                                       0  10324              0.0
disabled                                       0  10324              0.0
poverty                                        0  10324              0.0
limited_english                                0  10324              0.0
commute_time                                   0  10324              0.0
health_uninsured                               0  10324              0.0
veteran                                        0  10324              0.0
Ozone                                          0  10324              0.0
PM25                                           0  10324              0.0
N02                                            0  10324              0.0
patient_gender_cleaned                         0  10324              0.0

In [6]:
X_test.head()

,patient_id,patient_race,payer_type,patient_state,patient_zip3,patient_age,patient_gender,bmi,breast_cancer_diagnosis_code,breast_cancer_diagnosis_desc,metastatic_cancer_diagnosis_code,metastatic_first_novel_treatment,metastatic_first_novel_treatment_type,Region,Division,population,density,age_median,age_under_10,age_10_to_19,age_20s,age_30s,age_40s,age_50s,age_60s,age_70s,age_over_80,male,female,married,divorced,never_married,widowed,family_size,family_dual_income,income_household_median,income_household_under_5,income_household_5_to_10,income_household_10_to_15,income_household_15_to_20,income_household_20_to_25,income_household_25_to_35,income_household_35_to_50,income_household_50_to_75,income_household_75_to_100,income_household_100_to_150,income_household_150_over,income_household_six_figure,income_individual_median,home_ownership,housing_units,home_value,rent_median,rent_burden,education_less_highschool,education_highschool,education_some_college,education_bachelors,education_graduate,education_college_or_above,education_stem_degree,labor_force_participation,unemployment_rate,self_employed,farmer,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple,hispanic,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,Ozone,PM25,N02
11970,241293,NaN,COMMERCIAL,IL,605,51,F,NaN,C50919,Malignant neoplasm of unsp site of unspecified...,C773,NaN,NaN,Midwest,East North Central,18511.321430,782.646429,40.369643,12.830357,13.101786,10.857143,13.235714,12.910714,15.392857,11.835714,6.444643,3.382143,51.033929,48.966071,56.042857,9.898214,29.285714,4.760714,3.233818,58.841818,99988.01852,2.054545,1.116364,1.745455,2.160000,2.107273,5.161818,7.594545,17.076364,14.192727,20.567273,26.212727,46.780000,47189.43636,78.890909,6653.946429,300143.6923,1347.901961,27.781250,7.178571,24.328571,27.825000,24.555357,16.108929,40.664286,40.880357,67.121429,4.492857,12.413208,1.464151,79.142857,5.546429,6.035714,0.210714,0.010714,3.669643,5.380357,13.935714,8.660714,7.101786,2.507273,33.132075,5.412500,5.078571,36.974870,7.893858,21.718229
8868,612155,Black,MEDICAID,GA,300,56,F,NaN,C50211,Malig neoplm of upper-inner quadrant of right ...,C773,NaN,NaN,South,South Atlantic,40162.725810,875.119355,37.734426,13.421311,14.393443,12.029508,13.813115,14.032787,14.036066,10.106557,5.449180,2.726230,48.536066,51.463934,49.665574,12.496721,33.529508,4.313115,3.380984,57.214754,82017.54098,2.296721,1.567213,3.014754,3.300000,3.283607,7.906557,11.395082,16.332787,13.537705,17.293443,20.083607,37.377049,39698.46667,67.514754,14135.629030,276631.6949,1339.316667,31.643860,10.380328,21.544262,27.100000,24.840984,16.137705,40.978689,43.401667,67.077049,5.044262,16.516667,0.311667,49.021311,32.513115,7.944262,0.263934,0.073770,4.603279,5.578689,11.842623,10.270492,10.775410,4.304918,32.501667,13.040984,6.503279,40.968089,9.488443,19.108904
4659,945034,White,COMMERCIAL,OR,974,53,F,29.0,C50312,Malig neoplasm of lower-inner quadrant of left...,C7989,NaN,NaN,West,Pacific,7573.884615,100.082051,49.551316,8.605128,10.474359,10.224359,9.816667,10.525641,12.950000,18.552564,12.216667,6.634615,50.034615,49.965385,51.441026,15.062821,25.384615,8.110256,2.881316,39.459211,56858.01351,3.078205,2.271795,4.215385,6.379487,6.038462,10.671795,15.144872,18.924359,10.971795,13.637179,8.696154,22.333333,27739.06579,73.965385,3154.448718,280274.0769,958.107692,31.365574,8.744156,30.759740,39.651948,13.392208,7.457143,20.849351,46.381081,48.905128,7.998701,11.063514,3.082432,89.260256,0.394872,1.156410,1.397436,0.067949,1.900000,5.812821,5.938462,22.233333,15.133333,0.384615,25.986486,6.661538,11.862821,37.676078,4.211750,6.512334
8506,376741,Asian,NaN,CA,907,45,F,23.0,1749,"Malignant neoplasm of breast (female), unspeci...",C773,NaN,NaN,West,Pacific,28996.772730,2757.963636,40.640909,9.868182,15.304545,13.140909,12.181818,11.463636,14.150000,12.518182,7.136364,4.227273,47.631818,52.368182,44.472727,11.386364,38.240909,5.890909,3.460476,55.709524,88561.61905,1.980952,1.942857,2.623810,3.400000,3.357143,6.123810,9.547619,16.023810,12.557143,19.242857,23.204762,42.447619,38429.68182,56.804762,9291.636364,669024.5789,1845.904762,32.655000,15.371429,20.509524,29.285714,23.047619,11.771429,34.819048,43.895238,62.800000,7.495455,13.885714,0.000000,46.613636,8.913636,17.677273,0.659091,0.863636,14.981818,10.304545,38.695455,9.118182,9.866667,8.161905,27.923810,7.136364,4.904545,39.981489,9.307842,21.682382
4872,256548,White,NaN,NJ,112,43,F,NaN,C5031,Malignant neoplasm of lower-inner quadrant of ...,C778,NaN,NaN,Northeast,Middle Atlantic,71374.131580,17326.407890,36.476316,12.986842,11.318421,14.971053,17.255263,12.631579,11.460526,9.789474,6.000000,3.581579,47.668421,52.331579,39.923684,10.239474,44.642105,5.186842,3.412105,53.447368,74499.71053,4.334211,3.305263,5.863158,4.460526,4.042105,7.589474,9.897368,13.542105,10.742105,14.889474,21.318421,36.207895,39491.78947,29.931579,25922.552630,870873.1842,1678.447368,35.213158,16.200000,24.334211,18.447368,24.371053,16.655263,41.026316,40.857895,64.197368,7.184211,18.145946,0.002703,44.100000,28.831579,11.205263,0.515789,0.068421,9.184211,6.089474,18.960526,10.194737,18.642105,14.173684,42.502632,6.392105,1.755263,37.722740,7.879795,27.496367

In [7]:
X_test_filled = prep.fill_null_for_other_regional_information(X_test, ['patient_state'], region_features, fill_strategy='mean', is_traing=False)
X_test_filled = prep.fill_null_for_division_and_region(X_test_filled, is_traing=False)
X_test_filled = prep.fill_gender(X_test_filled)
X_test_filled = prep.fill_null_for_environmental(X_test_filled, ['Division'], ['Ozone', 'PM25', 'N02'], fill_strategy='mean', is_traing=False)
X_test_filled = prep.fill_null_for_payer_type(X_test_filled, col='payer_type', is_traing=False)
X_test_filled = prep.fill_null_for_bmi(X_test_filled, col='bmi', fill_strategy='mean', is_traing=False)
X_test_filled = prep.fill_null_with_seperate_category(X_test_filled, columns = ['patient_race', 'metastatic_first_novel_treatment', 'metastatic_first_novel_treatment_type'])

df_nulls=pd.DataFrame()

df_nulls['num_nulls'] = X_train_filled.isnull().sum() 
df_nulls['total'] = len(X_train_filled)
df_nulls['null_percentage'] = df_nulls['num_nulls'] / df_nulls['total']

df_nulls

  patient_state  avg_population  avg_density  avg_age_median  \
0            AK     3343.134605    58.377648       41.117652
1            AL    10464.180883   300.966447       40.419351
2            AR     8009.005450   535.544739       43.146146
3            AZ    19826.605713   946.459477       43.279349
4            CA    25510.271490  2132.112906       39.986669

   avg_age_under_10  avg_age_10_to_19  avg_age_20s  avg_age_30s  avg_age_40s  \
0         12.052955         10.728994    11.089740    11.566293    10.779513
1         10.759655         13.480310    14.168217    12.002754    11.987450
2         10.941915         11.950785    11.608045    11.329372    11.579715
3         10.567211         12.160456    11.930685    11.663597    11.365506
4         10.644652         12.717983    14.161721    13.614174    12.150871

   avg_age_50s  avg_age_60s  avg_age_70s  avg_age_over_80   avg_male  \
0    15.562608    18.785460     7.490714         1.969329  50.275990
1    13.644255    12.688380     7.645228         3.631342  50.021034
2    13.540659    14.909212     9.688548         4.452125  50.323005
3    13.476770    14.539370     9.717364         4.579975  51.168809
4    12.856229    12.436986     7.398118         4.013139  50.367562

   avg_female  avg_married  avg_divorced  avg_never_married  avg_widowed  \
0   49.724010    44.464372     13.659968          32.303609     9.576028
1   49.978966    44.733938     14.898815          33.505199     6.862860
2   49.677099    49.364438     15.237975          27.064152     8.335639
3   48.831191    49.130380     13.612188          31.119681     6.137519
4   49.632505    45.492569     11.731003          37.634567     5.140950

   avg_family_size  avg_family_dual_income  avg_income_household_median  \
0         3.457455               53.160796                 64745.475428
1         3.228804               44.031481                 54783.593229
2         3.131622               42.876123                 51009.157149
3         3.209868               45.606843                 71149.380694
4         3.345433               52.522841                 87985.011570

   avg_income_household_under_5  avg_income_household_5_to_10  \
0                      3.107307                      4.824302
1                      3.966786                      3.781882
2                      3.680796                      3.653571
3                      3.808055                      2.652116
4                      3.417836                      2.108632

   avg_income_household_10_to_15  avg_income_household_15_to_20  \
0                       4.078966                       6.785162
1                       5.709013                       5.569809
2                       6.513885                       6.458677
3                       3.976230                       3.951942
4                       3.971982                       3.458006

   avg_income_household_20_to_25  avg_income_household_25_to_35  \
0                       4.495056                       8.642569
1                       5.428952                      10.896989
2                       6.690992                      11.883993
3                       4.650874                       8.619968
4                       3.497227                       7.407994

   avg_income_household_35_to_50  avg_income_household_50_to_75  \
0                      15.004868                      15.893742
1                      13.442509                      17.365575
2                      13.873421                      17.731217
3                      12.108144                      17.771057
4                       9.676073                      14.870311

   avg_income_household_75_to_100  avg_income_household_100_to_150  \
0                       11.817494                        13.374164
1                       11.507903                        12.533712
2                       11.283058                        10.774248
3                       12.779525                        14.598684
4                       11.944363                        16.165001

   avg_income_household_150_over  avg_income_household_six_figure  \
0                      11.967774                        25.341938
1                       9.801887                        22.335600
2                       7.459279                        18.233527
3                      15.087535                        29.686218
4                      23.480244                        39.645245

   avg_income_individual_median  avg_home_ownership  avg_housing_units  \
0                  29170.462857           72.446497        1235.970837
1                  28276.191913           69.101950        4077.723144
2                  27983.127844           72.521585        3170.709111
3                  34191.694200           69.421341        7053.381670
4                  40415.659433           55.665356        8718.878583

   avg_home_value  avg_rent_median  avg_rent_burden  \
0   230964.465925      1008.278000        25.084681
1   150024.561069       844.343010        30.806526
2   131553.646749       756.960188        29.509504
3   347878.151247      1248.045323        32.712282
4   681429.520782      1702.002211        33.459316

   avg_education_less_highschool  avg_education_highschool  \
0                       9.504946                 40.070855
1                      14.086103                 31.731624
2                      14.826023                 37.426594
3                      13.027190                 25.276185
4                      13.812410                 20.337540

   avg_education_some_college  avg_education_bachelors  \
0                   28.676282                15.678755
1                   30.764338                14.453347
2                   27.810462                12.535460
3                   32.901013                17.844118
4                   28.450350                22.220727

   avg_education_graduate  avg_education_college_or_above  \
0                6.066889                       21.745644
1                8.966264                       23.419611
2                7.396577                       19.932037
3               10.949845                       28.793963
4               15.178941                       37.399668

   avg_education_stem_degree  avg_labor_force_participation  \
0                  40.237959                      61.042619
1                  38.034150                      55.197448
2                  40.282438                      52.598923
3                  42.234610                      55.550528
4                  48.324366                      61.434216

   avg_unemployment_rate  avg_self_employed  avg_farmer  avg_race_white  \
0              12.061636          14.101319    0.074703       50.698415
1               6.380077          11.590892    2.639388       65.588904
2               5.782506          12.537653    5.913635       75.602213
3               6.654015          12.455748    0.912542       68.365540
4               7.077853          15.898542    0.516042       57.708053

   avg_race_black  avg_race_asian  avg_race_native  avg_race_pacific  \
0        0.998745        3.153090        35.122311          0.455839
1       27.631015        1.235960         0.514833          0.033319
2       15.726653        1.427261         0.565938          0.259335
3        2.943895        5.832182         7.388105          0.154563
4        6.888440       12.414813         1.622504          0.317156

   avg_race_other  avg_race_multiple  avg_hispanic  avg_disabled  avg_poverty  \
0        0.775395           8.789594      4.474529     17.214708    17.585271
1        1.546990           3.453459      4.512674     17.289979    17.470499
2        2.211547           4.204925      5.406038     21.771628    17.337106
3        7.288650           8.026471     25.773908     15.768499    14.746091
4       11.739593           9.311641     30.910921     11.979885    13.635124

   avg_limited_english  avg_commute_time  avg_health_uninsured  avg_veteran  \
0             1.376132         13.946757             18.307662     7.849562
1             0.937048         26.130903             10.617440     9.035296
2             1.480770         25.893482              8.138847     8.581514
3             4.644681         27.774381              9.363431     9.331835
4             7.735610         28.558192              6.802391     5.777388

   avg_Ozone  avg_PM25    avg_N02
0        NaN       NaN        NaN
1  39.153127  8.577593  11.292372
2  38.397798  7.917979   9.673739
3  45.085547  5.450831  17.137532
4  41.652666  7.454566  15.406309

                                       num_nulls  total  null_percentage
patient_id                                     0  10324              0.0
patient_race                                   0  10324              0.0
payer_type                                     0  10324              0.0
patient_state                                  0  10324              0.0
patient_zip3                                   0  10324              0.0
patient_age                                    0  10324              0.0
patient_gender                                 0  10324              0.0
bmi                                            0  10324              0.0
breast_cancer_diagnosis_code                   0  10324              0.0
breast_cancer_diagnosis_desc                   0  10324              0.0
metastatic_cancer_diagnosis_code               0  10324              0.0
metastatic_first_novel_treatment               0  10324              0.0
metastatic_first_novel_treatment_type          0  10324              0.0
Region                                         0  10324              0.0
Division                                       0  10324              0.0
population                                     0  10324              0.0
density                                        0  10324              0.0
age_median                                     0  10324              0.0
age_under_10                                   0  10324              0.0
age_10_to_19                                   0  10324              0.0
age_20s                                        0  10324              0.0
age_30s                                        0  10324              0.0
age_40s                                        0  10324              0.0
age_50s                                        0  10324              0.0
age_60s                                        0  10324              0.0
age_70s                                        0  10324              0.0
age_over_80                                    0  10324              0.0
male                                           0  10324              0.0
female                                         0  10324              0.0
married                                        0  10324              0.0
divorced                                       0  10324              0.0
never_married                                  0  10324              0.0
widowed                                        0  10324              0.0
family_size                                    0  10324              0.0
family_dual_income                             0  10324              0.0
income_household_median                        0  10324              0.0
income_household_under_5                       0  10324              0.0
income_household_5_to_10                       0  10324              0.0
income_household_10_to_15                      0  10324              0.0
income_household_15_to_20                      0  10324              0.0
income_household_20_to_25                      0  10324              0.0
income_household_25_to_35                      0  10324              0.0
income_household_35_to_50                      0  10324              0.0
income_household_50_to_75                      0  10324              0.0
income_household_75_to_100                     0  10324              0.0
income_household_100_to_150                    0  10324              0.0
income_household_150_over                      0  10324              0.0
income_household_six_figure                    0  10324              0.0
income_individual_median                       0  10324              0.0
home_ownership                                 0  10324              0.0
housing_units                                  0  10324              0.0
home_value                                     0  10324              0.0
rent_median                                    0  10324              0.0
rent_burden                                    0  10324              0.0
education_less_highschool                      0  10324              0.0
education_highschool                           0  10324              0.0
education_some_college                         0  10324              0.0
education_bachelors                            0  10324              0.0
education_graduate                             0  10324              0.0
education_college_or_above                     0  10324              0.0
education_stem_degree                          0  10324              0.0
labor_force_participation                      0  10324              0.0
unemployment_rate                              0  10324              0.0
self_employed                                  0  10324              0.0
farmer                                         0  10324              0.0
race_white                                     0  10324              0.0
race_black                                     0  10324              0.0
race_asian                                     0  10324              0.0
race_native                                    0  10324              0.0
race_pacific                                   0  10324              0.0
race_other                                     0  10324              0.0
race_multiple                                  0  10324              0.0
hispanic                                       0  10324              0.0
disabled                                       0  10324              0.0
poverty                                        0  10324              0.0
limited_english                                0  10324              0.0
commute_time                                   0  10324              0.0
health_uninsured                               0  10324              0.0
veteran                                        0  10324              0.0
Ozone                                          0  10324              0.0
PM25                                           0  10324              0.0
N02                                            0  10324              0.0
patient_gender_cleaned                         0  10324              0.0

In [8]:
X_train_filled.columns

X_train_filled = X_train_filled.drop(['patient_id', 'patient_gender'],axis=1)
X_test_filled = X_test_filled.drop(['patient_id', 'patient_gender'],axis=1)

## Training

In [11]:
cat_features

Index(['patient_race', 'payer_type', 'patient_state',
       'breast_cancer_diagnosis_code', 'breast_cancer_diagnosis_desc',
       'metastatic_cancer_diagnosis_code', 'metastatic_first_novel_treatment',
       'metastatic_first_novel_treatment_type', 'Region', 'Division',
       'patient_gender_cleaned'],
      dtype='object')

In [12]:
from catboost import CatBoostClassifier

cat_features = X_train_filled.select_dtypes(include=['object', 'category']).columns
num_features = X_train_filled.select_dtypes(include=['float64', 'int64']).columns

cat_model = CatBoostClassifier(
    #custom_loss=["AUC"],
    cat_features=cat_features.values,
    use_best_model=True,
    random_state=42,
    verbose=100,    
)
cat_model.fit(X_train_filled, y_train, eval_set=(X_test_filled, y_test))

Learning rate set to 0.056407
0:	learn: 0.6667695	test: 0.6660996	best: 0.6660996 (0)	total: 68.3ms	remaining: 1m 8s
100:	learn: 0.4484247	test: 0.4642032	best: 0.4638742 (63)	total: 1.41s	remaining: 12.6s
200:	learn: 0.4263036	test: 0.4645863	best: 0.4638742 (63)	total: 2.74s	remaining: 10.9s
300:	learn: 0.4044070	test: 0.4661669	best: 0.4638742 (63)	total: 4.11s	remaining: 9.55s
400:	learn: 0.3867884	test: 0.4677695	best: 0.4638742 (63)	total: 5.51s	remaining: 8.23s
500:	learn: 0.3713536	test: 0.4690805	best: 0.4638742 (63)	total: 6.88s	remaining: 6.86s
600:	learn: 0.3567649	test: 0.4720004	best: 0.4638742 (63)	total: 8.25s	remaining: 5.47s
700:	learn: 0.3433118	test: 0.4733680	best: 0.4638742 (63)	total: 9.59s	remaining: 4.09s
800:	learn: 0.3314535	test: 0.4751636	best: 0.4638742 (63)	total: 10.9s	remaining: 2.72s
900:	learn: 0.3193852	test: 0.4770647	best: 0.4638742 (63)	total: 12.3s	remaining: 1.35s
999:	learn: 0.3093885	test: 0.4789557	best: 0.4638742 (63)	total: 13.6s	remaining: 0us

bestTest = 0.4638741757
bestIteration = 63

Shrink model to first 64 iterations.

In [14]:
y_pred = cat_model.predict(X_test_filled)
y_pred

array([1, 1, 1, ..., 0, 1, 0])

## Evaluation

In [15]:
import src.evaluation as eval

model_eval = pd.DataFrame.from_dict(eval.evaluate_model(y_test,y_pred), orient='index')
model_eval

                  0
Accuracy   0.817196
Precision  0.790757
Recall     0.962894
F1 Score   0.868377
ROC AUC    0.767976

## Create Kaggle submision

In [20]:
sub_X = utils.load_data('data/test.csv')



sub_X = prep.fill_null_for_other_regional_information(sub_X, ['patient_state'], region_features, fill_strategy='mean', is_traing=False)
sub_X = prep.fill_null_for_division_and_region(sub_X, is_traing=False)
sub_X = prep.fill_gender(sub_X)
sub_X = prep.fill_null_for_environmental(sub_X, ['Division'], ['Ozone', 'PM25', 'N02'], fill_strategy='mean', is_traing=False)
sub_X = prep.fill_null_for_payer_type(sub_X, col='payer_type', is_traing=False)
sub_X = prep.fill_null_for_bmi(sub_X, col='bmi', fill_strategy='mean', is_traing=False)
sub_X = prep.fill_null_with_seperate_category(sub_X, columns = ['patient_race', 'metastatic_first_novel_treatment', 'metastatic_first_novel_treatment_type'])


df_nulls=pd.DataFrame()

df_nulls['num_nulls'] = sub_X.isnull().sum() 
df_nulls['total'] = len(sub_X)
df_nulls['null_percentage'] = df_nulls['num_nulls'] / df_nulls['total']

df_nulls

  patient_state  avg_population  avg_density  avg_age_median  \
0            AK     3343.134605    58.377648       41.117652
1            AL    10464.180883   300.966447       40.419351
2            AR     8009.005450   535.544739       43.146146
3            AZ    19826.605713   946.459477       43.279349
4            CA    25510.271490  2132.112906       39.986669

   avg_age_under_10  avg_age_10_to_19  avg_age_20s  avg_age_30s  avg_age_40s  \
0         12.052955         10.728994    11.089740    11.566293    10.779513
1         10.759655         13.480310    14.168217    12.002754    11.987450
2         10.941915         11.950785    11.608045    11.329372    11.579715
3         10.567211         12.160456    11.930685    11.663597    11.365506
4         10.644652         12.717983    14.161721    13.614174    12.150871

   avg_age_50s  avg_age_60s  avg_age_70s  avg_age_over_80   avg_male  \
0    15.562608    18.785460     7.490714         1.969329  50.275990
1    13.644255    12.688380     7.645228         3.631342  50.021034
2    13.540659    14.909212     9.688548         4.452125  50.323005
3    13.476770    14.539370     9.717364         4.579975  51.168809
4    12.856229    12.436986     7.398118         4.013139  50.367562

   avg_female  avg_married  avg_divorced  avg_never_married  avg_widowed  \
0   49.724010    44.464372     13.659968          32.303609     9.576028
1   49.978966    44.733938     14.898815          33.505199     6.862860
2   49.677099    49.364438     15.237975          27.064152     8.335639
3   48.831191    49.130380     13.612188          31.119681     6.137519
4   49.632505    45.492569     11.731003          37.634567     5.140950

   avg_family_size  avg_family_dual_income  avg_income_household_median  \
0         3.457455               53.160796                 64745.475428
1         3.228804               44.031481                 54783.593229
2         3.131622               42.876123                 51009.157149
3         3.209868               45.606843                 71149.380694
4         3.345433               52.522841                 87985.011570

   avg_income_household_under_5  avg_income_household_5_to_10  \
0                      3.107307                      4.824302
1                      3.966786                      3.781882
2                      3.680796                      3.653571
3                      3.808055                      2.652116
4                      3.417836                      2.108632

   avg_income_household_10_to_15  avg_income_household_15_to_20  \
0                       4.078966                       6.785162
1                       5.709013                       5.569809
2                       6.513885                       6.458677
3                       3.976230                       3.951942
4                       3.971982                       3.458006

   avg_income_household_20_to_25  avg_income_household_25_to_35  \
0                       4.495056                       8.642569
1                       5.428952                      10.896989
2                       6.690992                      11.883993
3                       4.650874                       8.619968
4                       3.497227                       7.407994

   avg_income_household_35_to_50  avg_income_household_50_to_75  \
0                      15.004868                      15.893742
1                      13.442509                      17.365575
2                      13.873421                      17.731217
3                      12.108144                      17.771057
4                       9.676073                      14.870311

   avg_income_household_75_to_100  avg_income_household_100_to_150  \
0                       11.817494                        13.374164
1                       11.507903                        12.533712
2                       11.283058                        10.774248
3                       12.779525                        14.598684
4                       11.944363                        16.165001

   avg_income_household_150_over  avg_income_household_six_figure  \
0                      11.967774                        25.341938
1                       9.801887                        22.335600
2                       7.459279                        18.233527
3                      15.087535                        29.686218
4                      23.480244                        39.645245

   avg_income_individual_median  avg_home_ownership  avg_housing_units  \
0                  29170.462857           72.446497        1235.970837
1                  28276.191913           69.101950        4077.723144
2                  27983.127844           72.521585        3170.709111
3                  34191.694200           69.421341        7053.381670
4                  40415.659433           55.665356        8718.878583

   avg_home_value  avg_rent_median  avg_rent_burden  \
0   230964.465925      1008.278000        25.084681
1   150024.561069       844.343010        30.806526
2   131553.646749       756.960188        29.509504
3   347878.151247      1248.045323        32.712282
4   681429.520782      1702.002211        33.459316

   avg_education_less_highschool  avg_education_highschool  \
0                       9.504946                 40.070855
1                      14.086103                 31.731624
2                      14.826023                 37.426594
3                      13.027190                 25.276185
4                      13.812410                 20.337540

   avg_education_some_college  avg_education_bachelors  \
0                   28.676282                15.678755
1                   30.764338                14.453347
2                   27.810462                12.535460
3                   32.901013                17.844118
4                   28.450350                22.220727

   avg_education_graduate  avg_education_college_or_above  \
0                6.066889                       21.745644
1                8.966264                       23.419611
2                7.396577                       19.932037
3               10.949845                       28.793963
4               15.178941                       37.399668

   avg_education_stem_degree  avg_labor_force_participation  \
0                  40.237959                      61.042619
1                  38.034150                      55.197448
2                  40.282438                      52.598923
3                  42.234610                      55.550528
4                  48.324366                      61.434216

   avg_unemployment_rate  avg_self_employed  avg_farmer  avg_race_white  \
0              12.061636          14.101319    0.074703       50.698415
1               6.380077          11.590892    2.639388       65.588904
2               5.782506          12.537653    5.913635       75.602213
3               6.654015          12.455748    0.912542       68.365540
4               7.077853          15.898542    0.516042       57.708053

   avg_race_black  avg_race_asian  avg_race_native  avg_race_pacific  \
0        0.998745        3.153090        35.122311          0.455839
1       27.631015        1.235960         0.514833          0.033319
2       15.726653        1.427261         0.565938          0.259335
3        2.943895        5.832182         7.388105          0.154563
4        6.888440       12.414813         1.622504          0.317156

   avg_race_other  avg_race_multiple  avg_hispanic  avg_disabled  avg_poverty  \
0        0.775395           8.789594      4.474529     17.214708    17.585271
1        1.546990           3.453459      4.512674     17.289979    17.470499
2        2.211547           4.204925      5.406038     21.771628    17.337106
3        7.288650           8.026471     25.773908     15.768499    14.746091
4       11.739593           9.311641     30.910921     11.979885    13.635124

   avg_limited_english  avg_commute_time  avg_health_uninsured  avg_veteran  \
0             1.376132         13.946757             18.307662     7.849562
1             0.937048         26.130903             10.617440     9.035296
2             1.480770         25.893482              8.138847     8.581514
3             4.644681         27.774381              9.363431     9.331835
4             7.735610         28.558192              6.802391     5.777388

   avg_Ozone  avg_PM25    avg_N02
0        NaN       NaN        NaN
1  39.153127  8.577593  11.292372
2  38.397798  7.917979   9.673739
3  45.085547  5.450831  17.137532
4  41.652666  7.454566  15.406309

                                       num_nulls  total  null_percentage
patient_id                                     0   5792         0.000000
patient_race                                   0   5792         0.000000
payer_type                                     0   5792         0.000000
patient_state                                  1   5792         0.000173
patient_zip3                                   0   5792         0.000000
patient_age                                    0   5792         0.000000
patient_gender                                 0   5792         0.000000
bmi                                            0   5792         0.000000
breast_cancer_diagnosis_code                   0   5792         0.000000
breast_cancer_diagnosis_desc                   0   5792         0.000000
metastatic_cancer_diagnosis_code               0   5792         0.000000
metastatic_first_novel_treatment               0   5792         0.000000
metastatic_first_novel_treatment_type          0   5792         0.000000
Region                                         1   5792         0.000173
Division                                       1   5792         0.000173
population                                     0   5792         0.000000
density                                        0   5792         0.000000
age_median                                     0   5792         0.000000
age_under_10                                   0   5792         0.000000
age_10_to_19                                   0   5792         0.000000
age_20s                                        0   5792         0.000000
age_30s                                        0   5792         0.000000
age_40s                                        0   5792         0.000000
age_50s                                        0   5792         0.000000
age_60s                                        0   5792         0.000000
age_70s                                        0   5792         0.000000
age_over_80                                    0   5792         0.000000
male                                           0   5792         0.000000
female                                         0   5792         0.000000
married                                        0   5792         0.000000
divorced                                       0   5792         0.000000
never_married                                  0   5792         0.000000
widowed                                        0   5792         0.000000
family_size                                    0   5792         0.000000
family_dual_income                             0   5792         0.000000
income_household_median                        0   5792         0.000000
income_household_under_5                       0   5792         0.000000
income_household_5_to_10                       0   5792         0.000000
income_household_10_to_15                      0   5792         0.000000
income_household_15_to_20                      0   5792         0.000000
income_household_20_to_25                      0   5792         0.000000
income_household_25_to_35                      0   5792         0.000000
income_household_35_to_50                      0   5792         0.000000
income_household_50_to_75                      0   5792         0.000000
income_household_75_to_100                     0   5792         0.000000
income_household_100_to_150                    0   5792         0.000000
income_household_150_over                      0   5792         0.000000
income_household_six_figure                    0   5792         0.000000
income_individual_median                       0   5792         0.000000
home_ownership                                 0   5792         0.000000
housing_units                                  0   5792         0.000000
home_value                                     0   5792         0.000000
rent_median                                    0   5792         0.000000
rent_burden                                    0   5792         0.000000
education_less_highschool                      0   5792         0.000000
education_highschool                           0   5792         0.000000
education_some_college                         0   5792         0.000000
education_bachelors                            0   5792         0.000000
education_graduate                             0   5792         0.000000
education_college_or_above                     0   5792         0.000000
education_stem_degree                          0   5792         0.000000
labor_force_participation                      0   5792         0.000000
unemployment_rate                              0   5792         0.000000
self_employed                                  0   5792         0.000000
farmer                                         0   5792         0.000000
race_white                                     0   5792         0.000000
race_black                                     0   5792         0.000000
race_asian                                     0   5792         0.000000
race_native                                    0   5792         0.000000
race_pacific                                   0   5792         0.000000
race_other                                     0   5792         0.000000
race_multiple                                  0   5792         0.000000
hispanic                                       0   5792         0.000000
disabled                                       0   5792         0.000000
poverty                                        0   5792         0.000000
limited_english                                0   5792         0.000000
commute_time                                   0   5792         0.000000
health_uninsured                               0   5792         0.000000
veteran                                        0   5792         0.000000
Ozone                                          0   5792         0.000000
PM25                                           0   5792         0.000000
N02                                            0   5792         0.000000
patient_gender_cleaned                         0   5792         0.000000

In [ ]:
sub_y = (
  pd.DataFrame(
    cat_model.predict_proba(
      sub_X[X_train_filled.columns])[:,1], 
      index=sub_X.patient_id,columns=['DiagPeriodL90D'])
  )

sub_X

In [21]:
cat_model.predict_proba(
      sub_X[X_train_filled.columns])[:,1]

CatBoostError: Invalid type for cat_feature[non-default value idx=5773,feature_idx=2]=nan : cat_features must be integer or string, real number values and NaN values should be converted to string.

## Save results

In [ ]:
run_dir = utils.create_directory()

X_train['DiagPeriodL90D'] = y_train
X_test['DiagPeriodL90D'] = y_test
X_train.to_csv(run_dir+'/training_data.csv')
X_test.to_csv(run_dir+'/test_data.csv')
sub_X.to_csv(run_dir+'/X_submission.csv')
sub_y.to_csv(run_dir+'/submission.csv')
model_eval.to_csv(run_dir+'/metrics.csv')

utils.save_model_as_pickle(cat_model,run_dir+'/model.pickle')