In [1]:
import pandas as pd
import src.utils as utils

## Read config

## Load the data

In [2]:

data = utils.load_data('data/training.csv')
data = data.drop(['patient_id','patient_gender'],axis=1)

## Preprocessing

In [7]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
import src.data_preprocessing as prep
    
X_train, X_test, y_train, y_test = prep.split_data(data)

cat_features = X_train.select_dtypes(include=['object', 'category']).columns
num_features = X_train.select_dtypes(include=['float64', 'int64']).columns


X_train.head()

,patient_race,payer_type,patient_state,patient_zip3,patient_age,bmi,breast_cancer_diagnosis_code,breast_cancer_diagnosis_desc,metastatic_cancer_diagnosis_code,metastatic_first_novel_treatment,...,hispanic,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,Ozone,PM25,N02
1145,NaN,NaN,NY,121,68,NaN,1749,"Malignant neoplasm of breast (female), unspeci...",C7951,NaN,...,3.672059,13.920588,7.898529,0.670588,27.130159,3.166176,7.560294,38.841811,5.212827,13.582484
3207,NaN,COMMERCIAL,CA,927,62,NaN,C50012,"Malignant neoplasm of nipple and areola, left ...",C7951,NaN,...,57.855556,8.033333,10.833333,11.800000,25.366667,10.900000,2.733333,40.156817,7.911701,19.253370
8462,White,COMMERCIAL,NY,105,56,NaN,C50112,Malignant neoplasm of central portion of left ...,C773,NaN,...,15.898387,9.385484,7.851613,3.283333,36.808475,3.622581,3.967742,39.286219,6.634648,20.973690
4982,Hispanic,MEDICAID,CA,954,48,NaN,C50919,Malignant neoplasm of unsp site of unspecified...,C7801,NaN,...,18.144118,17.647059,14.830882,1.665672,27.444444,7.264706,9.322059,37.262530,4.052672,5.478516
10020,NaN,COMMERCIAL,MD,210,58,40.0,1741,Malignant neoplasm of central portion of femal...,C773,NaN,...,4.677083,9.458333,4.622917,1.114583,31.465909,3.139583,10.045833,40.594478,7.417765,20.796270

In [8]:
filler = prep.fill_null_for_division_and_region(X_train)
filler.head(9)

,patient_race,payer_type,patient_state,patient_zip3,patient_age,bmi,breast_cancer_diagnosis_code,breast_cancer_diagnosis_desc,metastatic_cancer_diagnosis_code,metastatic_first_novel_treatment,metastatic_first_novel_treatment_type,Region,Division,population,density,age_median,age_under_10,age_10_to_19,age_20s,age_30s,age_40s,age_50s,age_60s,age_70s,age_over_80,male,female,married,divorced,never_married,widowed,family_size,family_dual_income,income_household_median,income_household_under_5,income_household_5_to_10,income_household_10_to_15,income_household_15_to_20,income_household_20_to_25,income_household_25_to_35,income_household_35_to_50,income_household_50_to_75,income_household_75_to_100,income_household_100_to_150,income_household_150_over,income_household_six_figure,income_individual_median,home_ownership,housing_units,home_value,rent_median,rent_burden,education_less_highschool,education_highschool,education_some_college,education_bachelors,education_graduate,education_college_or_above,education_stem_degree,labor_force_participation,unemployment_rate,self_employed,farmer,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple,hispanic,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,Ozone,PM25,N02,Region_grouped,Division_grouped,num
0,NaN,NaN,NY,121,68,NaN,1749,"Malignant neoplasm of breast (female), unspeci...",C7951,NaN,NaN,Northeast,Middle Atlantic,4183.102941,129.991176,46.405970,9.511765,11.157353,9.961765,11.104412,12.745588,14.608824,15.875000,10.226471,4.813235,49.257353,50.742647,49.813235,13.376471,28.614706,8.198529,3.062985,51.174627,76344.50000,1.244118,1.789706,3.191176,3.261765,2.964706,7.201471,13.958824,17.114706,15.044118,18.642647,15.601471,34.244118,39317.92188,77.332353,1737.485294,201457.0167,955.500000,27.019512,7.577941,29.547059,32.727941,16.216176,13.923529,30.139706,43.738806,61.286765,4.210294,9.412308,0.441538,93.060294,1.454412,1.142647,0.135294,0.011765,0.980882,3.217647,3.672059,13.920588,7.898529,0.670588,27.130159,3.166176,7.560294,38.841811,5.212827,13.582484,Northeast,Middle Atlantic,20
1,NaN,COMMERCIAL,CA,927,62,NaN,C50012,"Malignant neoplasm of nipple and areola, left ...",C7951,NaN,NaN,West,Pacific,53351.222220,3774.077778,35.744444,12.644444,14.655556,14.655556,14.244444,13.522222,12.933333,9.300000,5.144444,2.911111,50.700000,49.300000,47.977778,9.611111,38.411111,3.988889,3.961111,63.977778,88949.55556,2.111111,1.155556,2.944444,2.277778,2.588889,6.577778,9.411111,16.477778,13.300000,19.677778,23.477778,43.155556,36093.33333,52.388889,14667.444440,669800.5556,1879.222222,34.044444,25.700000,20.288889,24.033333,19.255556,10.755556,30.011111,48.344444,67.044444,5.244444,14.766667,0.022222,37.755556,1.366667,17.666667,0.700000,0.233333,33.188889,9.077778,57.855556,8.033333,10.833333,11.800000,25.366667,10.900000,2.733333,40.156817,7.911701,19.253370,West,Pacific,26
2,White,COMMERCIAL,NY,105,56,NaN,C50112,Malignant neoplasm of central portion of left ...,C773,NaN,NaN,Northeast,Middle Atlantic,10690.730160,910.853968,43.488710,9.904839,15.264516,10.200000,10.850000,12.717742,15.353226,13.883871,7.404839,4.432258,51.059677,48.940323,53.558065,8.988710,32.967742,4.490323,3.212833,61.770000,147128.20690,1.970000,0.975000,1.503333,1.621667,2.046667,3.908333,5.835000,9.750000,9.385000,17.063333,45.946667,63.010000,57872.20000,75.790000,3801.952381,620196.8929,2061.173077,32.793333,7.298387,15.125806,18.840323,28.788710,29.954839,58.743548,43.140984,64.753226,7.064516,17.368852,0.000000,72.172581,7.654839,6.962903,0.167742,0.008065,8.129032,4.898387,15.898387,9.385484,7.851613,3.283333,36.808475,3.622581,3.967742,39.286219,6.634648,20.973690,Northeast,Middle Atlantic,25
3,Hispanic,MEDICAID,CA,954,48,NaN,C50919,Malignant neoplasm of unsp site of unspecified...,C7801,NaN,NaN,West,Pacific,7627.147059,288.266176,48.505970,8.892647,10.016176,8.392647,11.020588,10.430882,13.763235,19.579412,13.010294,4.883824,52.985294,47.014706,45.332353,16.707353,31.104412,6.848529,3.043788,49.981818,78192.05357,3.023881,1.162687,4.901493,4.150746,4.889552,6.323881,13.837313,16.335821,12.674627,14.792537,17.901493,32.694030,34563.66667,65.065672,2924.558824,562125.0000,1453.833333,33.582051,10.589706,24.560294,33.029412,19.661765,12.163235,31.825000,48.134375,57.613235,8.666667,19.323214,1.173214,78.970588,1.002941,2.170588,3.972059,0.242647,7.597059,6.039706,18.144118,17.647059,14.830882,1.665672,27.444444,7.264706,9.322059,37.262530,4.052672,5.478516,West,Pacific,15
4,NaN,COMMERCIAL,MD,210,58,40.0,1741,Malignant neoplasm of central portion of femal...,C773,NaN,NaN,South,South Atlantic,16472.312500,455.197917,42.708511,10.733333,12.735417,11.822917,12.312500,12.795833,14.689583,13.447917,7.972917,3.485417,48.489583,51.510417,56.956250,9.589583,28.208333,5.239583,3.070625,59.914583,122183.50000,1.535417,1.195833,1.116667,2.010417,1.602083,4.341667,8.270833,12.002083,12.047917,19.833333,36.012500,55.845833,55146.93333,76.341667,6230.833333,404856.7250,1587.486486,29.755882,5.018750,19.568750,28.495833,26.079167,20.831250,46.910417,49.059574,69.360417,3.802083,11.677778,0.317778,75.641667,12.958333,5.458333,0.177083,0.037500,1.489583,4.218750,4.677083,9.458333,4.622917,1.114583,31.465909,3.139583,10.045833,40.594478,7.417765,20.796270,South,South Atlantic,6
5,NaN,COMMERCIAL,TX,782,56,NaN,C50911,Malignant neoplasm of unsp site of right femal...,C773,NaN,NaN,South,West South Central,30021.278690,1155.224590,34.700000,12.936066,14.495082,17.301639,14.534426,12.213115,11.280328,9.155738,5.416393,2.663934,50.839344,49.160656,42.768852,13.832787,38.642623,4.754098,3.369333,50.516667,63689.90000,4.168333,3.116667,4.380000,4.461667,4.546667,9.905000,12.518333,18.113333,11.610000,14.248333,12.941667,27.190000,33644.06557,54.258333,10875.819670,197790.4182,1172.533333,32.367797,15.593443,23.740984,30.885246,17.880328,11.895082,29.775410,43.068333,65.903279,5.652459,12.953333,0.470000,63.847541,8.201639,2.888525,0.698361,0.245902,8.275410,15.857377,59.270492,14.521667,16.408333,6.771667,24.866667,15.811667,12.024590,36.824666,8.004233,14.468768,South,West South Central,63
6,NaN,COMMERCIAL,CO,811,53,NaN,C50212,Malig neoplasm of upper-inner quadrant of left...,C773,NaN,NaN,West,Mountain,2536.551724,23.158621,46.192857,9.048276,10.562069,9.151724,11.396552,9.668966,13.331034,20.162069,9.313793,7.331034,54.437931,45.562069,52.127586,13.806897,23.762069,10.313793,3.008214,45.282143,48412.72000,4.058621,4.186207,8.375862,5.227586,5.075862,11.665517,15.968966,16.903448,9.027586,11.934483,7.593103,19.527586,25909.73077,75.196552,1035.068966,191190.3043,811.409091,30.930000,10.934483,30.410345,32.541379,16.024138,10.082759,26.106897,45.607407,53.382759,7.842857,16.329167,4.520833,77.220690,0.396552,0.706897,3.731034,0.024138,4.479310,13.451724,39.468966,22.448276,13.931034,5.879310,23.208000,10.334483,11.913793,45.873139,2.864305,7.597931,West,Mountain,3
7,White,COMMERCIAL,NY,145,51,NaN,1745,Malignant neoplasm of lower-outer quadrant of ...,C787,NaN,NaN,Northeast,Middle Atlantic,5886.410714,180.053571,46.929630,9.685185,10.205556,11.231481,11.138889,10.683333,15.666667,16.081481,9.512963,5.790741,50.720370,49.279630,51.711111,12.951852,28.187037,7.131481,2.922075,51.584906,68706.61224,2.062264,1.383019,3.430189,4.830189,3.911321,9.120755,11.811321,22.152830,12.573585,18.400000,10.309434,28.709434,35291.69811,80.867925,2361.571429,144950.5455,901.071429,30.110256,9.227778,33.940741,29.942593,16.187037,10.716667,26.903704,40.350943,58.709259,4.705660,8.982000,1.542000,91.251852,3.198148,1.005556,0.075926,0.012963,1.327778,3.127778,3.811111,14.311111,10.725926,0.584906,24.084314,6.201852,7.455556,39.378488,6.020325,12.464039,Northeast,Middle Atlantic,10
8,White,MEDICAID,CA,959,61,NaN,1741,Malignant neoplasm of central portion of femal...,C799,NaN,NaN,West,Pacific,7570.585714,84.631429,45.098485,10.149254,11.635821,10.805970,10.910448,10.197015,12.013433,18.413433,10.961194,4.907463,53.334328,46.665672,46.937313,15.244776,29.705970,8.122388,3.092615,38.578462,62292.92453,3.785075,2.394030,6.701493,4.183582,5.338806,10.088060,12.955224,15.386567,12.726866,15.670149,10.747761,26.417910,29726.12727,66.429851,2795.185714,309846.7273,1095.673913,33.509756,14.314925,29.074627,36.646269,13.283582,6.677612,19.961194,48.440984,50.826866,8.934375,13.373684,3.368421,79.526866,1.720896,2.613433,2.956716,0.153731,5.028358,7.998507,18.804478,19.765672,15.683582,3.344776,26.314286,7.623881,8.843284,44.712375,4.746587,6.406333,West,Pacific,29

In [9]:
region_features = [
       'patient_zip3','Region','Division','patient_state',
       'population', 'density', 'age_median', 'age_under_10', 'age_10_to_19',
       'age_20s', 'age_30s', 'age_40s', 'age_50s', 'age_60s', 'age_70s',
       'age_over_80', 'male', 'female', 'married', 'divorced', 'never_married',
       'widowed', 'family_size', 'family_dual_income',
       'income_household_median', 'income_household_under_5',
       'income_household_5_to_10', 'income_household_10_to_15',
       'income_household_15_to_20', 'income_household_20_to_25',
       'income_household_25_to_35', 'income_household_35_to_50',
       'income_household_50_to_75', 'income_household_75_to_100',
       'income_household_100_to_150', 'income_household_150_over',
       'income_household_six_figure', 'income_individual_median',
       'home_ownership', 'housing_units', 'home_value', 'rent_median',
       'rent_burden', 'education_less_highschool', 'education_highschool',
       'education_some_college', 'education_bachelors', 'education_graduate',
       'education_college_or_above', 'education_stem_degree',
       'labor_force_participation', 'unemployment_rate', 'self_employed',
       'farmer', 'race_white', 'race_black', 'race_asian', 'race_native',
       'race_pacific', 'race_other', 'race_multiple', 'hispanic', 'disabled',
       'poverty', 'limited_english', 'commute_time', 'health_uninsured',
       'veteran', 'Ozone', 'PM25', 'N02']

                                       num_nulls  total  null_percentage
patient_race                                5104  10324         0.494382
payer_type                                  1434  10324         0.138900
patient_state                                 42  10324         0.004068
patient_zip3                                   0  10324         0.000000
patient_age                                    0  10324         0.000000
bmi                                         7144  10324         0.691980
breast_cancer_diagnosis_code                   0  10324         0.000000
breast_cancer_diagnosis_desc                   0  10324         0.000000
metastatic_cancer_diagnosis_code               0  10324         0.000000
metastatic_first_novel_treatment           10306  10324         0.998256
metastatic_first_novel_treatment_type      10306  10324         0.998256
Region                                         0  10324         0.000000
Division                                       0  10324         0.000000
population                                     1  10324         0.000097
density                                        1  10324         0.000097
age_median                                     1  10324         0.000097
age_under_10                                   1  10324         0.000097
age_10_to_19                                   1  10324         0.000097
age_20s                                        1  10324         0.000097
age_30s                                        1  10324         0.000097
age_40s                                        1  10324         0.000097
age_50s                                        1  10324         0.000097
age_60s                                        1  10324         0.000097
age_70s                                        1  10324         0.000097
age_over_80                                    1  10324         0.000097
male                                           1  10324         0.000097
female                                         1  10324         0.000097
married                                        1  10324         0.000097
divorced                                       1  10324         0.000097
never_married                                  1  10324         0.000097
widowed                                        1  10324         0.000097
family_size                                    2  10324         0.000194
family_dual_income                             2  10324         0.000194
income_household_median                        2  10324         0.000194
income_household_under_5                       2  10324         0.000194
income_household_5_to_10                       2  10324         0.000194
income_household_10_to_15                      2  10324         0.000194
income_household_15_to_20                      2  10324         0.000194
income_household_20_to_25                      2  10324         0.000194
income_household_25_to_35                      2  10324         0.000194
income_household_35_to_50                      2  10324         0.000194
income_household_50_to_75                      2  10324         0.000194
income_household_75_to_100                     2  10324         0.000194
income_household_100_to_150                    2  10324         0.000194
income_household_150_over                      2  10324         0.000194
income_household_six_figure                    2  10324         0.000194
income_individual_median                       1  10324         0.000097
home_ownership                                 2  10324         0.000194
housing_units                                  1  10324         0.000097
home_value                                     2  10324         0.000194
rent_median                                    2  10324         0.000194
rent_burden                                    2  10324         0.000194
education_less_highschool                      1  10324         0.000097
education_highschool                           1  10324         0.000097
education_some_college                         1  10324         0.000097
education_bachelors                            1  10324         0.000097
education_graduate                             1  10324         0.000097
education_college_or_above                     1  10324         0.000097
education_stem_degree                          1  10324         0.000097
labor_force_participation                      1  10324         0.000097
unemployment_rate                              1  10324         0.000097
self_employed                                  2  10324         0.000194
farmer                                         2  10324         0.000194
race_white                                     1  10324         0.000097
race_black                                     1  10324         0.000097
race_asian                                     1  10324         0.000097
race_native                                    1  10324         0.000097
race_pacific                                   1  10324         0.000097
race_other                                     1  10324         0.000097
race_multiple                                  1  10324         0.000097
hispanic                                       1  10324         0.000097
disabled                                       1  10324         0.000097
poverty                                        2  10324         0.000194
limited_english                                2  10324         0.000194
commute_time                                   1  10324         0.000097
health_uninsured                               1  10324         0.000097
veteran                                        1  10324         0.000097
Ozone                                         21  10324         0.002034
PM25                                          21  10324         0.002034
N02                                           21  10324         0.002034
Region_grouped                                 0  10324         0.000000
Division_grouped                               0  10324         0.000000
num                                            0  10324         0.000000

## Training

In [6]:
from catboost import CatBoostClassifier


cat_model = CatBoostClassifier(
    #custom_loss=["AUC"],
    cat_features=cat_features.values,
    use_best_model=True,
    random_state=42,
    verbose=100,    
)
cat_model.fit(X_train, y_train, eval_set=(X_test, y_test))

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/catboost/core.py:1419: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  self._init_pool(data, label, cat_features, text_features, embedding_features, embedding_features_data, pairs, weight,

Learning rate set to 0.056407
0:	learn: 0.6665962	test: 0.6658559	best: 0.6658559 (0)	total: 149ms	remaining: 2m 29s
100:	learn: 0.4493351	test: 0.4630768	best: 0.4628633 (86)	total: 5.36s	remaining: 47.7s
200:	learn: 0.4277497	test: 0.4623088	best: 0.4620586 (158)	total: 9.76s	remaining: 38.8s
300:	learn: 0.4078392	test: 0.4630826	best: 0.4620175 (217)	total: 14.5s	remaining: 33.7s
400:	learn: 0.3903937	test: 0.4638073	best: 0.4620175 (217)	total: 18.4s	remaining: 27.5s
500:	learn: 0.3746060	test: 0.4647873	best: 0.4620175 (217)	total: 23.9s	remaining: 23.8s
600:	learn: 0.3616640	test: 0.4662390	best: 0.4620175 (217)	total: 28s	remaining: 18.6s
700:	learn: 0.3488693	test: 0.4669356	best: 0.4620175 (217)	total: 32.5s	remaining: 13.9s
800:	learn: 0.3363025	test: 0.4694454	best: 0.4620175 (217)	total: 36.9s	remaining: 9.17s
900:	learn: 0.3238301	test: 0.4706260	best: 0.4620175 (217)	total: 41.3s	remaining: 4.54s
999:	learn: 0.3132417	test: 0.4725280	best: 0.4620175 (217)	total: 45.9s	remaining: 0us

bestTest = 0.4620175024
bestIteration = 217

Shrink model to first 218 iterations.

In [9]:
y_pred = cat_model.predict(X_test)
y_pred

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/catboost/core.py:1419: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  self._init_pool(data, label, cat_features, text_features, embedding_features, embedding_features_data, pairs, weight,

array([1, 1, 1, ..., 0, 1, 0])

## Evaluation

In [23]:
import src.evaluation as eval

model_eval = pd.DataFrame.from_dict(eval.evaluate_model(y_test,y_pred), orient='index')
model_eval

                  0
Accuracy   0.816421
Precision  0.790544
Recall     0.961657
F1 Score   0.867746
ROC AUC    0.767357

## Create Kaggle submision

In [11]:
sub_X = utils.load_data('data/test.csv')

for c in X_train.columns:
    sub_X[c].fillna(filler[c],inplace=True)

sub_y = pd.DataFrame(cat_model.predict_proba(sub_X[X_train.columns])[:,1], index=sub_X.patient_id,columns=['DiagPeriodL90D'])

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/catboost/core.py:1419: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  self._init_pool(data, label, cat_features, text_features, embedding_features, embedding_features_data, pairs, weight,

## Save results

In [28]:
run_dir = utils.create_directory()

X_train['DiagPeriodL90D'] = y_train
X_test['DiagPeriodL90D'] = y_test
X_train.to_csv(run_dir+'/training_data.csv')
X_test.to_csv(run_dir+'/test_data.csv')
sub_X.to_csv(run_dir+'/X_submission.csv')
sub_y.to_csv(run_dir+'/submission.csv')
model_eval.to_csv(run_dir+'/metrics.csv')

utils.save_model_as_pickle(cat_model,run_dir+'/model.pickle')